<div>
    <h2>userId {{ name }}</h2>
    {{!-- <h3> chat ihistory with {{this.displayName}}</h3> --}}
    {{#if messages}}
    {{#each messages as |message|}}

    {{#ifEquals message.sender ../name}}
    <div style="text-align: right;">
        {{message.content}}
    </div>
    {{else}}
    <div style="text-align: left;">
        {{message.content}}
    </div>
    {{/ifEquals}}
    {{/each}}
    {{else}}
    <div>No messages found.</div>
    {{/if}}

</div>